# Ignore docs files


# Numerous always-ignore extensions
*.log
*.swp
*.zip
*.vi
*~

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
*.sublime-project
*.sublime-workspace
.idea

# Folders to ignore
node_modules
bower_components
